
body {
    background: #cf5364;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#weather-container {
    background: rgba(255, 255, 255, 0.3);
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}

h2, label, p {
    color: #530a0a;
    margin: 8px 0;
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 20px;
}

button {
    background: #67c9a8;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
}

button:hover {
    background: #1456a1;
}

#temp-div p {
    font-size: 60px;
    margin-top: -30px;
}

#weather-info {
    font-size: 20px;
}

#weather-icon {
    width: 150px;
    height: 200px;
    margin: 0 auto 10px; 
    margin-bottom: 0;
    display: none;
}

#hourly-forecast {
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: white;
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: #fff;
    margin-top: 10px;
}











* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'montserrat', sans-serif;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: top center;
  }
  
  .app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
  }
  
  header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0px 16px 0px 16px;
    border-bottom: 3px solid gray;
  
    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
  }
  
  header input:focus {
    background-color: rgba(255, 255, 255, 0.6);
  }
  
  main {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .location .city {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .location .date {
    color: #fff;
    font-size: 16px;
  }
  
  .current .temp {
    color: #fff;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
  }
  
  .current .temp span {
    font-weight: 500;
  }
  
  .current .weather {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
  }
  
  .current .hi-low {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
  }